section {
  height: 100%;
  width: 100vw;
  background: rgb(86, 69, 146);
  background: linear-gradient(
    257deg,
    rgba(86, 69, 146, 1) 12%,
    rgba(53, 40, 104, 1) 68%
  );
  color: #fff;
  padding: 1rem 1rem;
  text-align: center;

  h2 {
    font-size: 1.3rem;
    font-weight: bold;
  }

  h3.question {
    font-size: 1.6rem;
    margin: 2rem 0;
  }

  div.timer {
    margin-top: 2rem;

    div#time {
      margin: auto;
      border: 0.5rem solid rgb(255, 148, 120);
      width: 150px;
      height: 150px;
      border-radius: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      h4 {
        font-size: 2.8rem;
      }
    }
  }
  div.options {
    margin-top: 2rem;
    padding: 1rem 0.8rem;
    border-radius: 0.4rem;
    background-color: #fff;
    label {
      border-radius: 12px;
      color: rgb(37, 37, 37);
      font-weight: bold;
      margin-bottom: 0.8rem;
      padding: 0.6rem;
      box-shadow: 1px 1px lightgrey;
      display: flex;
      background-color: rgb(240, 233, 233);
      justify-content: space-between;
    }
  }

  button {
    margin-top: 1.5rem;
    color: #fff;
    background: rgb(255, 148, 120);
    background: linear-gradient(
      257deg,
      rgba(255, 148, 120, 1) 12%,
      rgba(255, 120, 120, 1) 72%
    );
    border-radius: 16px;
    padding: 0.5rem 4rem;
    box-shadow: 2px 2px 2px rgb(226, 177, 177);
  }
}
